.main{
color: purple;

padding: 30px;
margin: 5px 10px ;
width: min-content;

}
.main img{
    margin: 0px;
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid wheat;
    
}
.bold{
    font-weight: bolder;
}
.ratings{
    
    display: block;
}
.star{
    font-size: 1.09rem;
}
@media only screen and (max-width:792px) {
    .main img{
        width: 40px;
        
    }
    .main{
        font-size: 10px;
    }
}